<!-- home.page.html -->
<ion-content fullscreen>

  <!-- Contenedor que centra todo vertical y horizontalmente -->
  <div class="fullscreen-wrapper">

    <!-- Caja visual del formulario -->
    <div class="contenedor-home">
      
      <!-- Título principal -->
      <h1>Guardianes de la Galaxia</h1>

      <!-- Grupo del campo -->
      <div class="campo-wrapper">
        <label for="nombreJugador" class="campo-label">Nombre del jugador</label>
        <input id="nombreJugador" type="text" [(ngModel)]="nombreJugador" class="campo-input" />
      </div>

      <!-- Botón con el mismo ancho que el input -->
      <button class="jugar-btn" (click)="comenzarPartida()">JUGAR</button>

    </div>
  </div>

</ion-content>
